* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	background: #272d70;
	color: #fff;
	overflow-y: scroll;
}
header {
	height: 50px;
	background: #fff;
	width: 100%;
}
header span {
	float: right;
	font-size: 16px;
}
header a {
	color: #272d70;
	position: relative;
	text-decoration: none;
}
h1, h2 {
	color: #272d70;
	width: 900px;
	margin: 0 auto;
	font-weight: 100;
	font-size: 28px;
	line-height: 45px;
}
h2, h3 {
	color: #fff;
	font-size: 22px;
}
h3 {
	font-size: 18px;
	font-weight: 100;
	margin-bottom: 20px;
}
section, nav {
	margin: 100px auto;
	width: 900px;
	position:relative;
}
section:before {
	display: block;
	content: "\201C";
	font-size: 80px;
	position: absolute;
	left: 0;
	top: -20px;
	color: #fff;
	line-height: 80px;
}
p {
	line-height: 28px;
	width: 900px;
	zoom: 1; 
	margin-bottom: 30px;
}
p:before, p:after { content: ""; display: table; }
p:after { clear: both; }
em {
	display: block;
}
em:first-child {
	width: 150px;
	text-align: right;
	font-style: italic;
	float: left;
	font-size: 12px;
}
em:last-child {
	float: right;
	width: 750px;
	padding-left: 50px;
	font-style: normal;
}
canvas {
	display: none;
}
nav {
	height: 40px;
	margin: 70px auto;
	line-height: 40px;
}
nav div {
	width: 105px;
	display: inline;
}
nav div:after{
	content: '';
	position: absolute;
	width: 785px;
	border-top: 1px solid rgb(221, 221, 221);
	margin-top: 18px;
	margin-left: 10px;
	opacity: .5;
}
nav span {
	font-size: 40px;
	cursor: pointer;
	line-height: 30px;
	opacity: .6;
	position: relative;
}
nav span:hover {
	opacity: 1;
}
nav span:hover:after {
	font-size: 11px;
	content: attr(alt);
	text-align: center;
	width: 120px;
	position: absolute;
	top: 0;
	left: -30px;
}
nav span:last-child:hover:after {
	left: -40px;
}
strong, footer {
	font-size: 14px;
	font-weight: 300;
	float: right;
	padding: 15px 10px 0 0; 
	font-style: italic;
	text-align: right;
	border-top: 1px solid rgb(129, 132, 166);
	margin-top: 100px;
}
h2 {
	font-size: 24px;
	text-indent: 50px;
	margin-bottom: 40px;
}
h3 + p {
	line-height: 30px;
	text-align: justify;
}
p a {
	color: #fff;
	position: relative;
	text-decoration: underline;
}
a b {
	display: block;
	width: 0;
	background-color: #272d70;
	height: 1px;
	position: absolute;
	bottom: 2px;
	left: 0;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	-ms-transition: .3s;
	transition: .3s;
}
a:hover b {
	width: 100%;
}